[Desktop Entry]
Type=Application
Name=Heroic Games Launcher
Comment=Open Heroic in a desktop window; launch games in HDR when available
Exec=/usr/local/bin/heroic %U
Icon=heroic
Terminal=false
Categories=Game;
MimeType=x-scheme-handler/heroic;
