[Desktop Entry]
Type=Application
Name=Steam Big Picture (HDR)
Comment=Launch Steam Big Picture in fullscreen Gamescope with HDR support
Exec=/usr/bin/steam --wolf-big-picture
Icon=steam
Terminal=false
Categories=Game;
