[Desktop Entry]
Type=Application
Name=Steam
Comment=Open Steam in a desktop window; use Big Picture for HDR games
Exec=/usr/bin/steam --wolf-desktop %U
Icon=steam
Terminal=false
Categories=Game;
Actions=BigPicture;

[Desktop Action BigPicture]
Name=Steam Big Picture (HDR)
Exec=/usr/bin/steam --wolf-big-picture
